In [33]:
import pandas as pd

In [8]:
import os

In [9]:
os.getcwd()

'c:\\Users\\ttlam1\\AppData\\Local\\Programs\\Microsoft VS Code'

In [11]:
os.chdir('C:\\Users\\ttlam1')

In [22]:
data = pd.read_csv("Customer-Gender.csv", usecols=['CustomerGender'], squeeze=True) #squeeze inserts data into a Series

In [24]:
df = data

df.head(5)

0    Female
1    Female
2      Male
3      Male
4    Female
Name: CustomerGender, dtype: object

In [1]:
print('this is a product \n "A"')

this is a product
 "A"

In [2]:
print('this is "A". \t this is "B"')

this is "A". 	 this is "B"

In [3]:
product = 'A'
print('this is %s' %product)

this is A

In [5]:
print ('this is a test for backflash carriage return \r Liam TR ') #thay ký tự đằng trc

 Liam TR  test for backflash carriage return

In [9]:
#Text manipulation
s = 'Price per unit'
s

'Price per unit'

In [11]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [12]:
s1.endswith('nits')

False

In [13]:
s1.split()

['Cost', 'per', 'unit']

In [16]:
s1.split(' ',1) #or maxsplit = 1

['Cost', 'per unit']

In [20]:
s1.split(',')[0]

'Cost per unit'

In [23]:
s2 = 'Tran, Tung, Lam'
s2.split(', ')[1]

'Tung'

In [24]:
#strip method (dùng để bỏ whitespace hoặc bỏ characters)

s4 = '  quaterly earnings report  '

s4.strip()

'quaterly earnings report'

In [25]:
s4.strip(' r')

'quaterly earnings report'

In [26]:
s4.strip(' qt')

'uaterly earnings repor'

In [31]:
s4.lstrip()

'quaterly earnings report  '

In [30]:
s4.rstrip()

'  quaterly earnings report'

In [35]:
#pandas strip()

operational_kpis = pd.Series(['employee satisfaction rating', 'employee churn rate'])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [36]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [37]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [38]:
#string accessor in pandas
#access using []
operational_kpis.str[1]

0    m
1    m
dtype: object

In [39]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

In [44]:
house_prices = pd.Series(['$400,000','$500,000'])

In [47]:
house_prices.str.lstrip("$400")

0       ,000
1    500,000
dtype: object

In [48]:
#.format() vs {} place holder: dùng điền string vào placeholder
time_horizon = 1,3,12

In [49]:
products = ['Product A', 'Product B']

In [53]:
print('At {0} product {1} would be produced'.format(time_horizon[1],products[1]))

At 3 product Product B would be produced

In [54]:
s = (0,1,2,3,4)

for i in s: 
  print(i, end = ' ')

0 1 2 3 4

In [55]:
for j in range(5):
  print(j)

0
1
2
3
4

In [57]:
#nested loop
products = ['Product A','Product B']
price = [1000,2000,33221,21324]

for i in products:
  for j in price:
    print ([i,j])

['Product A', 1000]
['Product A', 2000]
['Product A', 33221]
['Product A', 21324]
['Product B', 1000]
['Product B', 2000]
['Product B', 33221]
['Product B', 21324]

In [ ]:
#lambda function

#Structure: lambda a: a*a (lambda: keyword, a: args)

In [1]:
#Gathering data

#Webscrapping / requesting the webpage from a server -> Extract

  #Cons: HTML, design different code, maintenance, changes -> break existing scrapers, legality

  #API: optimal and legal, stable



print('Hello')

Hello